{% load staticfiles %}
{% include 'header.html' %}
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
		{% include 'navbar.html' %}
		{% include 'sidebar.html' %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Accounts</h1>
        </section>

        <!-- Main content -->
        <section class="content">
        {% block content %}{% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% include 'navfoot.html' %}
{% include 'footer.html' %}